body{
    background-color: rgb(182, 248, 255)
}

#grid-container{
    display: grid;
}
main section article{
    display:flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between ;
    
}
main{
   
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 238, 238);
    padding: 2rem;
}

article{
    background-color: aliceblue;
    padding: 2rem;
    width: 200px;
}